<main>
    <p class="fashion">Fashion</p>

    <mat-paginator #paginator class="demo-paginator" (page)="handlePageEvent($event)" [length]="length"
        [pageSize]="pageSize" [pageIndex]="pageIndex" aria-label="Select page">
    </mat-paginator>

    @if (!productsIsLoading) {
        <div class="products">
            @for (product of products; track product) {
            <a class="product" [routerLink]="['/product', product.id]">
                <img [src]="url + product.img">
                <h4 class="name">{{product.name}}</h4>
                <p class="price">{{product.price | currency }}</p>
            </a>
            }
        </div>
    } @else {
        <mat-spinner diameter="50"></mat-spinner>
    }
</main>