main {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

p {
    margin: 0;
}

mat-spinner {
    margin: 50px 0;
}

.product {
    display: flex;
    align-items: center;
    flex-direction: row;
    gap: 30px;
    font-family: 'Volkhov', serif;
    font-weight: 400;
    color: #000;

    margin-bottom: 50px;

    img {
        height: 350px;
    }

    .info {
        display: flex;
        flex-direction: column;

        .fasco {
            color: #666;
            font-size: 0.8rem;
            line-height: 20px;
        }

        .name {
            font-size: 1.8rem;
            line-height: 42px;
            margin: 0;
        }

        .price {
            font-size: 1.5rem;
            line-height: 32px;
        }

        .info-param {
            margin: 10px 0;

            .title {
                font-size: 1rem;
                line-height: 24px;
            }

            mat-button-toggle-group {
                margin: 10px 0;

            }

            .description-size-group {

                .description-size {
                    width: 3.5rem;
                }
            }

            .description-color-group {
                border: none;

                .description-color {
                    height: 3rem;
                    width: 3rem;
                    border-radius: 50%;
                    margin: 0 5px;
                }

            }
        }

    }

    .cart {
        border-radius: 5px;
        border: 1px solid #000;
        font-size: 1rem;
        height: 2.5rem;
    }
}

@media (width <=580px) {
    .product {
        flex-direction: column;
        align-items: normal;
    }
}