@import '../../../style.scss';

p {
    margin: 0px;
}

.container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    width: 70%;
    gap: 25px;
    margin: 0 auto;

    .right-picture,
    .left-picture {
        border-radius: 10px;
        background: #E0E0E0;
        display: flex;
        justify-content: center;
        align-items: flex-end;
        height: 100%;

        img {
            max-width: 100%;
        }

        .right {
            max-width: 65%;
        }

    }

    .main-content {
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        gap: 10px;

        .text {
            display: flex;
            flex-direction: column;
            align-items: center;
            padding: 20px 0px;

            .ultimate {
                color: #484848;
                text-align: center;
                font-family: 'Poppins', sans-serif;
                font-size: 5vw;
                font-weight: 500;
                line-height: 100%;
                margin: 0px 5px;
            }

            .sale {
                font-family: 'Poppins', sans-serif;
                font-size: 10vw;
                font-weight: 500;
                line-height: 100%;
                color: white;
                -webkit-text-stroke: 1px #484848;
            }

            .collection {
                color: #484848;
                font-family: 'Poppins', sans-serif;
                font-size: 1.5vw;
                font-weight: 400;
                line-height: normal;
                letter-spacing: 2px;
            }

            .shop-now {
                @extend %black-button;
                margin-top: 10px;
                width: 65%;
                font-size: 1.4vw;

            }

            @media (max-width: 750px) {
                .shop-now {
                    height: 2.5rem;
                }
            }
        }

        img {
            width: 100%;
            aspect-ratio: 237/85;
            box-sizing: border-box;
        }

        .top {
            border-radius: 10px;
            background: #E0E0E0;
            padding: 5px 10px;
            padding-bottom: 0px;
        }
    }
}


@media (max-width: 580px) {
    .container {
        grid-template-columns: 1fr;
        width: 90%;

        .right-picture,
        .left-picture {
            display: none;
        }

        .main-content .text {

            .ultimate {
                font-size: 4.5rem;
            }

            .sale {
                font-size: 9rem;
            }

            .collection {
                font-size: 1.3rem;
            }

            .shop-now {
                font-size: 1rem;
            }
        }
    }
}

.brands {
    width: 70%;
    margin: 50px auto;

    .brands-slide {
        display: flex;
        flex-direction: row;
        gap: 4.8vw;
        justify-content: center;

        img {
            max-width: 14%;
        }
    }
}


@media (max-width: 580px) {
    @keyframes slide {
        from {
            transform: translateX(350px);
        }

        to {
            transform: translateX(-100%);
        }
    }

    .brands {
        overflow-x: hidden;
        width: 90%;

        .brands-slide {
            gap: 40px;
            animation: 8s slide infinite linear;

            img {
                max-width: 50%;
            }
        }

    }


}