<main>
    <p class="shopping-cart">Shopping Cart</p>
        <div class="cart">
            <div class="head">
                <h3 class="head-product">Product</h3>
                <h3 class="head-price">Price</h3>
            </div>
            @if (!cartIsLoading) {
                <div class="products">
                    @for (product of productsInBasket; track product) {
                        <div class="item">
                            <div class="product">
                                <img [src]="url + product.img">
                                <div class="info">
                                    <h4 class="name">{{product.name}}</h4>
                                    <p class="color">Color: {{product.color}}</p>
                                    <p class="size">Size: {{product.size}}</p>
                                    <button mat-button (click)="removeProductFromBasket(product.id)">Remove</button>
                                </div>
                            </div>
                            <p class="price">{{product.price | currency}}</p>
                        </div>
                    }
                </div>
            } @else {
                <mat-spinner diameter="50"></mat-spinner>
            }
        <div class="checkout">
            <div class="subtotal">
                <p>Subtotal</p>
                <p>{{subtotal | currency}}</p>
            </div>
            <button mat-button class="checkout-button" (click)="checkout()">Checkout</button>
        </div>
    </div>
</main>

