@import '../../../style.scss';

main {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-bottom: 50px;

}

.shopping-cart {
    color: #000;
    font-family: 'Volkhov', serif;
    font-size: 2.5rem;
    font-weight: 400;
    line-height: 32px;
}

.cart {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 70%;

    color: #000;
    text-align: center;
    font-family: 'Volkhov';
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 32px;

    .head {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 100%;
        border-bottom: 1px solid #8A8A8A;

        h3 {
            font-weight: 400;
        }
    }

    mat-spinner {
        margin: 30px;
    }

    .products {
        display: flex;
        flex-direction: column;
        width: 100%;

        .item {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            border-bottom: 1px solid #8A8A8A;
            padding: 30px 0;


            .product {
                display: flex;
                flex-direction: row;
                gap: 20px;

                img {
                    height: 250px;
                }

                .info {
                    text-align: start;

                    p,
                    h4 {
                        margin: 0;
                    }

                    .color,
                    .size {
                        margin: 6px 0;
                        color: #8A8A8A;
                        font-family: 'Poppins';
                        line-height: 42px;
                    }

                    button {
                        padding: 0;
                        color: #8A8A8A;
                        font-family: 'Poppins';
                        font-size: 1.4rem;
                        font-weight: 400;
                        line-height: 42px;
                        text-decoration-line: underline;
                    }
                }

                .price {
                    margin: 0;
                }

            }
        }
    }
}

@media (width <=770px) {
    .cart {
        width: 85%;
    }
}

@media (width <=580px) {
    .cart {
        width: 90%;

        .products .item .product {
            flex-direction: column;

            img {
                width: 240px;
                height: auto;
            }
        }
    }
}

.checkout {
    display: flex;
    flex-direction: column;
    width: 50%;
    align-self: end;

    color: #000;
    font-family: 'Volkhov';
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 32px;

    .subtotal {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .checkout-button {
        @extend %black-button;
        font-weight: 400;
    }
}

@media (width <=580px) {
    .checkout {
        width: 100%;
    }
}