.services-container {
    display: flex;
    justify-content: center;
    border-radius: 5px;
    background: #FFF;
    box-shadow: 0px 20px 52.289px 0px rgba(68, 68, 68, 0.04);
    padding-bottom: 50px;

    .services {
        width: 70%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;

        .service {
            display: flex;
            flex-direction: row;
            gap: 10px;
            align-self: center;

            img {
                height: 50px;
                width: 50px;
            }

            p {
                margin: 0;
            }

            .head {
                color: #484848;
                font-family: 'Poppins', sans-serif;
                font-size: 1rem;
                font-weight: 500;
            }

            .info {
                color: #484848;
                font-family: 'Poppins', sans-serif;
                font-size: 0.8rem;
                font-style: normal;
                font-weight: 400;
                line-height: 26px;
            }
        }
    }

    @media (width <=1200px) {
        .services {
            display: grid;
            grid-template-columns: 1fr 1fr;
            gap: 40px;
            column-gap: 3%;


            .service-info {
                width: 180px;
            }

            .service {
                justify-self: center;
            }

        }

    }

    @media (width <=705px) {
        .services {
            width: 85%;
        }
    }


    @media (width <=580px) {

        .services {
            width: 90%;
            display: flex;
            flex-direction: column;
            gap: 40px;
            align-items: center;

            .service-info {
                width: 220px;

                .head {
                    font-size: 1.2rem;
                }

                .info {
                    font-size: 1rem;
                }
            }
        }

    }
}

.follow {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 40px;

    .head {
        color: #484848;
        text-align: center;
        font-family: 'Volkhov', serif;
        font-size: 2.8rem;
        font-weight: 400;
        line-height: normal;
        padding: 0px 20px;
    }

    .info {
        color: #8A8A8A;
        text-align: center;
        font-family: 'Poppins', sans-serif;
        font-size: 1rem;
        font-style: normal;
        font-weight: 400;
        line-height: 26px;
        width: 60%;
        margin-bottom: 80px;
    }

    .images {
        display: flex;
        flex-direction: row;
        align-items: center;
        margin-bottom: 80px;

        img {
            width: calc(100% / 7);
            height: fit-content;
        }
    }

    @media (width <=780px) {

        .images img:first-child,
        .images img:last-child {
            display: none;
        }

        .images img {
            width: calc(100% / 5);
        }
    }

    @media (width <=580px) {

        .images img:nth-child(-n+2),
        .images img:nth-last-child(-n+2) {
            display: none;
        }

        .images img {
            width: calc(100% / 3);
        }
    }
}