<footer>
    <div class="services-container">
        <div class="services">
            @for (service of services; track service) {
                <div class="service">
                    <img [src]="service.imageUrl">
                    <div class="service-info">
                        <p class="head">{{ service.name }}</p>
                        <p class="info">{{ service.description }}</p>
                    </div>
                </div>
            }
        </div>
    </div>

    <div class="follow">
        <p class="head">Follow Us On Instagram</p>
        <p class="info">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptas porro unde asperiores nesciunt ut, corrupti corporis saepe ad quis assumenda illum earum a excepturi suscipit adipisci obcaecati, blanditiis explicabo error.</p>
        <div class="images">
            <img src="assets/img/follow1.png">
            <img src="assets/img/follow2.png">
            <img src="assets/img/follow3.png">
            <img src="assets/img/follow4.png">
            <img src="assets/img/follow5.png">
            <img src="assets/img/follow6.png">
            <img src="assets/img/follow7.png">
        </div>
    </div>
</footer>