<main>
    <div class="container">
        <div class="left-picture">
            <img src="assets/img/left.png">
        </div>
        <div class="main-content">
            <img class="top" src="assets/img/top.png">
            <div class="text">
                <p class="ultimate">ULTIMATE</p>
                <p class="sale">SALE</p>
                <p class="collection">NEW COLLECTION</p>
                <button mat-button class="shop-now" [routerLink]="'/shop'">SHOP NOW</button>
            </div>
            <img class="bottom" src="assets/img/bottom.png">
        </div>
        <div class="right-picture">
            <img class="right" src="assets/img/right.png">
        </div>
    </div>


    <div class="brands">
        <div class="brands-slide">
            <img src="assets/img/chanel.png">
            <img src="assets/img/lv.png">
            <img src="assets/img/prada.png">
            <img src="assets/img/ck.png">
            <img src="assets/img/denim.png">
        </div>
    </div>
</main>
